:root {
  --theme: "light";
  color-scheme: light;

  @media (prefers-color-scheme: dark) {
    --theme: "dark";
    color-scheme: dark;
  }
}

:root:has([theme="dark"]) {
  --theme: "dark";
  color-scheme: dark;
}

:root:has([theme="light"]) {
  --theme: "light";
  color-scheme: light;
}

body {
  --brand-color: hsl(166 60% 47%);
  --warning-color: hsl(51, 75%, 56%);
  --danger-color: hsl(357, 61%, 50%);
  --success-color: hsl(89, 59%, 48%);
  --info-color: hsl(209, 80%, 55%);
  --bg-light-color: hsl(166, 50%, 95%);
  --bg-color: hsl(166, 15%, 85%);
  --bg-dark-color: hsl(166, 10%, 75%);
  --text-color: hsl(166, 15%, 15%);
  --text-muted-color: hsl(166, 15%, 45%);
  --border-color: hsl(166, 20%, 10%);
  --border-muted-color: hsl(166, 20%, 20%);
  --shadow-color: hsl(166, 10%, 10%);

  @container style(--theme: "dark") {
    --bg-light-color: hsl(166, 25%, 25%);
    --bg-color: hsl(166, 25%, 15%);
    --bg-dark-color: hsl(166, 25%, 5%);
    --text-color: hsl(166, 40%, 85%);
    --text-muted-color: hsl(166, 25%, 65%);
    --border-color: hsl(166, 40%, 90%);
    --border-muted-color: hsl(166, 40%, 75%);
    --shadow-color: hsl(166, 40%, 90%);
  }

  background-color: var(--bg-dark-color) !important;
}

*,
*::after,
*::before {
  box-sizing: border-box !important;
}

@font-face {
  font-family: yekan;
  src: url(../fonts/iranyekanwebbold.ttf);
}

* {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: yekan, roboto;
}

a {
  text-decoration: none;
  color: #666;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}
