nav {
  width: 100%;
  display: flex;
  padding: 1.3em;
  justify-content: space-between;
  align-items: center;
  color: #555;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

nav .nav {
  display: flex;
  width: 33%;
  justify-content: space-between;
}

nav .navItems {
  display: flex;
  width: 90%;
  justify-content: end;
}

nav .navItems .navItem {
  margin: 0px 2em;
}

nav .exit-btn {
  font-size: 1.4em;
}