nav {
  display: flex;
  padding: 1.3em;
  justify-content: space-between;
  align-items: center;
  color: #555;
}

nav .nav {
  display: flex;
  width: 33%;
  justify-content: space-evenly;
}

nav .navItems {
  display: flex;
  justify-content: space-around
}

nav .exit-btn {
  font-size: 1.4em;
}